body {
    background-color: #383838;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.card {
    background-color: #ff8080;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    user-select: none;
}

.card.flip {
    background-color: #4ef6ff;
}
